.playlist-grid
    height 100%
    margin-top 70px


.song-card
    width 200px
    height 240px
    padding 16px 8px
    display flex 
    flex-direction column
    margin-top  20px
    margin-left 20px

    .card-content
        flex 1
        .image-section
            display flex
            flex-direction column
            align-items center 
            justify-content center
            margin-bottom 16px
            img
                height 175px
                width 175px
                border-radius 50%
        .details-section
            display flex
            flex-direction column
            align-items  left
            text-align center
            justify-content center
            margin-top 16px
            .title
                font-size 1.25em
                font-family Tahoma
            .artist
                margin-top 5px
                font-size  1em
                font-family Andale Mono
