<div>
    <mat-grid-list cols="5" rowHeight="300px" class = "playlist-grid">
            <mat-grid-tile *ngFor = "let item of playlist">
                <mat-card class = "song-card">
                    <mat-card-content class = "card-content">
                            <div class= "image-section">
                                    <img playlistCoverUrl src = {{item.songList[0].coverUrl}} >
                                </div>
                                <mat-divider></mat-divider>
                                <div class = "details-section">
                                    <div class = "title">{{item.name}}</div>
                                </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
    </mat-grid-list>
</div>