
.flex-row
    display flex
    flex-direction row
    align-items center
    justify-content space-between

.mat-toolbar.mat-primary{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
// .mat-toolbar
//     position fixed
//     z-index  50
.button-align   
    margin-right 10px