.song-card
    width 200px
    height 245px
    padding 16px 8px
    display flex 
    flex-direction column
    .card-content
        flex 1
        .image-section
            display flex
            flex-direction column
            align-items center 
            justify-content center
            margin-bottom 16px
            img
                height 175px
                width 175px
                border-radius 50%
        .details-section
            display flex
            flex-direction column
            align-items flex-start
            justify-content center
            margin-top 16px
