<mat-card class = "song-card">
    <mat-card-content class = "card-content">
        <div class= "image-section">
            <img defaultCoverUrl src = "https://m.media-amazon.com/images/I/81b4rGOinVL._SS500_.jpg" alt="">
        </div>
        <mat-divider></mat-divider>
        <div class = "details-section">
            <div>Song Name</div>
            <div>Artist Name</div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class = "song-card">
        <mat-card-content class = "card-content">
            <div class= "image-section">
                <img defaultCoverUrl src = "https://m.media-amazon.com/images/I/81b4rGOinVL._SS500_.jpg" alt="">
            </div>
            <mat-divider></mat-divider>
            <div class = "details-section">
                <div>Song Name</div>
                <div>Artist Name</div>
            </div>
        </mat-card-content>
 </mat-card>